<!DOCTYPE HTML>
<html>
<head>
  {{#block "page-title"}}
    <title>책검색 웹 서비스</title>
  {{/block}}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!--style CSS import-->
  <link rel="stylesheet" type="text/css" href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
  {{#block "page-style"}}{{/block}}
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

  <a class="navbar-brand" href="#"><span class="g"></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      {{#unless needLogin}}
        <input type="hidden" id="username" value="{{username}}">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown_my" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Page <i class="fa fa-user"></i></a>
          <div class="dropdown-menu" aria-labelledby="dropdown_my">
            <a class="dropdown-item" href="/member/profile">Profile</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
        {{else}}
        <li class="nav-item dropdown">
          <a class="nav-link" href="/login">Login <i class="fa fa-user"></i></a>
        </li>
      {{/unless}}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<main role="main">
  {{#block "page-body"}}{{/block}}
</main>
<footer class="container">
  <p>Copyright © Daltokki Website 2018</p>
</footer>

<!--script JS import-->
<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
<script src="/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="/js/common.js"></script>
<script type="text/javascript">
  $(function () {
    service.initDatePicker();
  });
</script>
{{#block "page-script"}}{{/block}}
</body>
</html>